h1 {
    font-family: "courier", monospace;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 90vw !important;
    }
}

@media only screen and (min-width: 800px) and (max-width:1000px) {
    .container {
        width: 70vw !important;
    }
}